{% extends '@App/base.html.twig' %}

{% block body_attrs 'class="pag-login"' %}

{% block header %}
{% endblock %}

{% block content %}
    {% include '@App/header-general.html.twig' %}
    <div id="galeria">
        <div class="slide" style="background:url({{asset('assets/images/banner.jpg') }})"></div>
        <div class="slide" style="background:url({{asset('assets/images/banner2.jpg') }})"></div>
    </div>
    <div class="main-container escolha">
        <div class="main-content">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 conteudo-escolha">
                        <h1>RangoCard</h1>
                        <p>Cadastra-se e conheça o RangoCard, uma plataforma para fidelização de cliente! Lembra do cartão fidelidade? Nós somos a solução digital.</p>
                        <a href="{{ path('user_home') }}" class="bt-entrar pull-left">Sou Usuário</a>
                        <a href="{{ path('restaurant_home') }}" class="bt-entrar pull-right">Sou Restaurante</a>
                    </div>
                </div>
                <!--<div id="nav-gal"></div>-->
            </div>
        </div>
    </div>
{% endblock %}

{% block customjavascripts %}
    <script src="{{ asset('assets/js/libs/cycle.js') }}"></script>
    <script type="text/javascript">
        $('#galeria').cycle({ 
            fx:     'fade',
            timeout: 3000, 
            slideExpr: 'div.slide'
        });
    </script>
{% endblock %}